//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal;
}

@import "variables";

// Add extra styles here
@import "../../../node_modules/govuk-frontend/govuk/base";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/settings/all";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/helpers/all";

@import "../../../node_modules/@scottish-government/pattern-library/src/base/core/abbr/abbr";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/core/address/address";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/core/body/body";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/core/box-sizing/box-sizing";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/core/hr/hr";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/core/leader/leader";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/core/lists/lists";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/core/margins/margins";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/core/small/small";

@import "../../../node_modules/@scottish-government/pattern-library/src/base/initial/all";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/objects/all";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/overrides/all";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/tools/all";
@import "../../../node_modules/@scottish-government/pattern-library/src/base/utilities/all";
@import "../../../node_modules/@scottish-government/pattern-library/src/forms/all-forms";
@import "../../../node_modules/@scottish-government/pattern-library/src/components/date-picker/date-picker";
@import "../../../node_modules/@scottish-government/pattern-library/src/components/button/button";
@import "../../../node_modules/@scottish-government/pattern-library/src/components/icon/icon";
@import "utils";
@import "expander";
@import "tags";
@import "card";
@import "form-panel";
@import "header";

%site-width-container {
  max-width: $govuk-page-width;

  margin: 0 $govuk-gutter-half;

  @include govuk-media-query($govuk-page-width + $govuk-gutter-half * 2) {
    margin: 0 auto;
  }
}

.phase-banner {
  @extend %site-width-container;
  @extend %contain-floats;
}

.phase-banner__content {
  word-break: normal;
}
.push-top {
  margin-top: 50px;
}

.push-bottom {
  margin-bottom: 30px;
  display: block;

  &.notice {
    margin-top: 30px;
  }
}

.view-all {
  @include e(button) {
    display: none;
  }
  .showing {
    display: none;
  }
  @include m(showing) {
    .hidden {
      display: none;
    }
    .showing {
      display: inline;
    }
  }
}

.js-enabled {
  .js-hidden {
    display: none;
  }
}

body {
  position: relative;
  min-height: 100vh;
}
.bottom-main {
  padding-bottom: 400px;
}

@media (min-width: 641px) {
  main {
    font-size: 19px;
    line-height: 1.31579;
  }
  .bottom-main {
    padding-bottom: 320px;
  }
}

body:not(.js-enabled) {
  .js-only {
    * {
      display: none;
    }
  }
}

.form-group .panel-border-narrow {
  float: initial !important;
}

.font-weight-regular {
  font-weight: normal;
}

.govuk-fieldset__legend--s {
  margin-bottom: 20px;
}

.vertical-center {
  margin: 0;
  padding-top: 15px;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.summary-page .date-and-time-container .vertical-center {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.summary-page .date-and-time-container {
  display: inline-block;
  width: 25%;
}

.summary-page .date-and-time-value-container{
  display: inline-block;
  width: 60%;
}

@media only screen and (max-width: 700px) {
  .summary-page .date-and-time-value-container{
    text-align: right;
  }
}.width-10 {
   max-width: 23ex;
 }

.chose-date .time-header {
  margin-left: 48%;
}

.chose-date .date-value {
  width: 50%;
  display: inline-block;
}

.no-margin-bottom.discite__property-item {
  margin-bottom: 0;
}

.govuk-header__container {
  position: relative;
  margin-bottom: -10px;
  padding-top: 10px;
  border-bottom: 10px solid #af292e;
}

.moj-header {
	background-color: govuk-colour("black");
	padding-top: govuk-spacing(3);
	border-bottom: 10px solid $cs-red;
  }

  // autocomplete

  .autocomplete__wrapper {
	position: relative;
  }
  
  .autocomplete__hint,
  .autocomplete__input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 5px;
	border: 2px solid #0b0c0c;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 0;
  }
  
  .autocomplete__input {
	background-color: transparent;
	position: relative;
  }
  
  .autocomplete__hint {
	color: #BFC1C3;
	position: absolute;
  }
  
  .autocomplete__input--default{
	padding: 4px;
  }
  
  .autocomplete__input--focused,
  .autocomplete__input:focus {
	outline-offset: 0;
	outline: 3px solid #ffbf47;
  }
  
  .autocomplete__input--show-all-values {
	padding: 4px 34px 4px 4px;
	cursor: pointer;
  }
  
  .autocomplete__dropdown-arrow-down{
	z-index: -1;
	display: inline-block;
	position: absolute;
	right: 8px;
	width: 24px;
	height: 24px;
	top: 10px;
  }
  
  .autocomplete__menu {
	background-color: #fff;
	border: 2px solid #0B0C0C;
	border-top: 0;
	color: #34384B;
	margin: 0;
	max-height: 342px;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
	width: calc(100% - 4px);
  }
  
  .autocomplete__menu--visible {
	display: block;
  }
  
  .autocomplete__menu--hidden {
	display: none;
  }
  
  .autocomplete__menu--overlay {
	box-shadow: rgba(0, 0, 0, 0.256863) 0px 2px 6px;
	left: 0;
	position: absolute;
	top: 100%;
	z-index: 100;
  }
  
  .autocomplete__menu--inline {
	position: relative;
  }
  
  .autocomplete__option {
	border-bottom: solid #BFC1C3;
	border-width: 1px 0;
	cursor: pointer;
	display: block;
	position: relative;
  }
  
  .autocomplete__option > * {
	pointer-events: none;
  }
  
  .autocomplete__option:first-of-type {
	border-top-width: 0;
  }
  
  .autocomplete__option:last-of-type {
	border-bottom-width: 0;
  }
  
  .autocomplete__option--odd {
	background-color: #FAFAFA;
  }
  
  .autocomplete__option--focused,
  .autocomplete__option:hover {
	background-color: #005EA5;
	border-color: #005EA5;
	color: white;
	outline: none;
  }
  
  .autocomplete__option--no-results {
	background-color: #FAFAFA;
	color: #646b6f;
	cursor: not-allowed;
  }
  
  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
	font-size: 16px;
	line-height: 1.25;
  }
  
  .autocomplete__hint,
  .autocomplete__option {
	padding: 4px;
  }
  
  @media (min-width: 641px) {
	.autocomplete__hint,
	.autocomplete__input,
	.autocomplete__option {
	  font-size: 19px;
	  line-height: 1.31579;
	}
  }
  
  .autocomplete__list {
	list-style-type: none;
	padding: 0;
	margin: 20px 0 0;
  }
  
  .autocomplete__list .autocomplete__selected-option,
  .autocomplete__list .autocomplete__selected-option:hover {
	cursor: inherit;
	color: #0b0c0c;
	margin: 5px 0;
  }
  
  .autocomplete__list .autocomplete__remove-option {
	cursor: pointer;
	color: #005ea5;
	text-decoration: underline;
	background: transparent;
	border: none;
	font-size: inherit;
	margin-left: 5px;
  }
  
  .autocomplete__list .autocomplete__remove-option:hover{
	color: #2b8cc4;
  }
  
  .autocomplete__list .autocomplete__remove-option:focus{
	color: #0b0c0c;
	outline: 3px solid #ffbf47;
	outline-offset: 0;
	background-color: #ffbf47;
  }
  
  .autocomplete__list .autocomplete__remove-option:before {
	content: '× ';
	color: inherit;
  }
  
  .autocomplete__list-item-description {
	display: none;
  }

  .table-header-width {
	width: 100px;
  }