{% extends "layouts/main.html" %}

{% block content %}
<h1 class="govuk-heading-l">Civil Service Learning prototypes</h1>
<ul class="govuk-list govuk-list--bullet">
	<li>
		Reporting 2023
		<ul class="govuk-list govuk-list--bullet">
			<li><a href="/home">Org report - Organisation reporter</a></li>
			<li><a href="/home">Org report - Organisation admin (AKA CSHR reporter)</a></li>
			<li><a href="/home">Org report - Super admin (bulk report donwloads)</a></li>
		</ul>
	</li>
</ul>
{% endblock %}